In [1]:
! pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\gs0864\onedrive\desktop\for_vs_code\env\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\gs0864\onedrive\desktop\for_vs_code\env\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gs0864\onedrive\desktop\for_vs_code\env\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gs0864\onedrive\desktop\for_vs_code\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gs0864\onedrive\desktop\for_vs_code\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gs0864\onedrive\desktop\for_vs_code\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in c:\users\gs0864\onedrive\desktop\for_vs_code\env\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\gs0864\onedrive\desktop\for_vs_code\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
sales = pd.read_excel(r"C:\Users\GS0864\Downloads\Pizza_Sale.xlsx")
sales

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01 00:00:00,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01 00:00:00,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01 00:00:00,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01 00:00:00,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01 00:00:00,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,31-12-2015,21:23:10,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,48617,21348,four_cheese_l,1,31-12-2015,21:23:10,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,48618,21348,napolitana_s,1,31-12-2015,21:23:10,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,48619,21349,mexicana_l,1,31-12-2015,22:09:54,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,48620,21350,bbq_ckn_s,1,31-12-2015,23:02:05,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [4]:
sales.columns

Index(['pizza_id', 'order_id', 'pizza_name_id', 'quantity', 'order_date',
       'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_ingredients', 'pizza_name'],
      dtype='object')

In [5]:
ing = pd.read_excel(r"C:\Users\GS0864\Downloads\Pizza_ingredients.xlsx")
ing

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0
...,...,...,...,...
513,veggie_veg_s,The Vegetables + Vegetables Pizza,Green Peppers,20.0
514,veggie_veg_s,The Vegetables + Vegetables Pizza,Red Onions,20.0
515,veggie_veg_s,The Vegetables + Vegetables Pizza,Zucchini,10.0
516,veggie_veg_s,The Vegetables + Vegetables Pizza,Spinach,15.0
517,veggie_veg_s,The Vegetables + Vegetables Pizza,Garlic,5.0

In [6]:
ing.columns

Index(['pizza_name_id', 'pizza_name', 'pizza_ingredients',
       'Items_Qty_In_Grams'],
      dtype='object')

In [7]:
import pandas as pd

# Load the Excel files
file1 = r"C:\Users\GS0864\Downloads\Pizza_Sale.xlsx"
file2 = r"C:\Users\GS0864\Downloads\Pizza_ingredients.xlsx"

# Convert the sheets to CSV
sheet1 = pd.read_excel(file1, sheet_name=None)  # Load all sheets as a dictionary
for sheet_name, df in sheet1.items():
    csv_file = f"{sheet_name}_Pizza_Sale.csv"
    df.to_csv(csv_file, index=False)
    print(f"Converted {sheet_name} to {csv_file}")

sheet2 = pd.read_excel(file2, sheet_name=None)  # Load all sheets as a dictionary
for sheet_name, df in sheet2.items():
    csv_file = f"{sheet_name}_Pizza_ingredients.csv"
    df.to_csv(csv_file, index=False)
    print(f"Converted {sheet_name} to {csv_file}")

Converted pizza_sales to pizza_sales_Pizza_Sale.csv
Converted Pizza_ingredients to Pizza_ingredients_Pizza_ingredients.csv